@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
    /* Primary Colors */
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);

    /* Neutral Colors */
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}


body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color:var(--very-dark-blue)
  
}

.avatar-position{
    transform: translateY(-60%);
    position: relative;
    top: -15px; /* Ajuste a altura conforme necessário */ 
}


.footer-text:hover {
    color: var(--bright-red); /* Cor ao passar o mouse */
    
}

.text-copyright {
    font-size: 10px;
    color: var(--dark-grayish-blue);
    font-weight: normal;
}



.text-placeholder{  
    color:var(--very-dark-blue)
    
}

.custom-bg {
    background-image: url('./img/bg-tablet-pattern.svg');
    background-position: right -200px top -150px; /* Ajuste conforme necessário */
    background-repeat: no-repeat;
    background-size: contain; 
}

@media (min-width: 360px) and (max-width: 576px) { 
    .custom-bg {
        background-position: right -150px top -90px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .custom-bg {
        background-position: right -450px top -200px; 
    }
}

@media (min-width: 1025px) and (max-width: 1639px) { 
    .custom-bg {
        background-position: right -200px top -150px; 
    }
}

@media (min-width: 1640px)  { 
    .custom-bg {
        background-position: right -110px top -250px; 
}
}
